{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime",
  ],
  "presets": [
    [
      "env", {
        "modules": false,
      }
    ],
  ],
}
