## Project Files ##
~res

## Cache ##
.cache

## Configs ##
.env
configs/customConfig.js

## Logs ##
logs
*.log
npm-debug.log*

## npm ##
node_modules

## New Relic ##
newrelic.js

## Misc ##
.DS_Store
[Tt]humbs.db
*.dmp
._*
